<div id="<%= dom_id recipe mb-4%>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= image_tag recipe.image %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= recipe.description %>
</p>

</div>
